﻿@model BookBeat.Models.ViewModels.HomeMedia

@{
    ViewBag.Title = "Home";
    var userId = Session["userId"];
    var test = ViewBag.userId;
}




<div class="container">



    <div class="row mt-4">
        <div class="col d-flex justify-content-center align-items-center">
            <form class="form-inline my-2 my-lg-0 d-flex" method="GET" action="/Home/TrackSearch">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchQuery">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>



    <div class="row flex justify-content-center align-items-center">

        <h2>Books</h2>


        @foreach (var book in Model.books)
        {
            <!-- Book card -->
            <div class="card mx-4 my-4 p-4" style="width: 20rem;">
                <!-- Book cover image -->
                <img src="@book.CoverImageURL" class="card-img-top" alt="Book cover image">
                <div class="card-body">
                    <!-- Book title and author -->
                    <h5 class="card-title">@book.Title</h5>
                    <h5 class="card-title">by @book.Author</h5>
                </div>
                <div class="card-footer d-flex justify-content-between">

                    <form method="POST" action="/MediaList/AddToLaterList">
                        <input type="hidden" name="userId" value="@userId" />
                        <input type="hidden" name="mediaId" value="2" />
                        <input type="hidden" name="mediaType" value="book" />
                        <input type="hidden" name="Title" value="@book.Title" />
                        <input type="hidden" name="Author" value="@book.Author" />
                        <input type="hidden" name="CoverImageURL" value="@book.CoverImageURL" />
                        <button class="btn custom-btn" type="submit">Read later</button>
                    </form>

                    <form method="POST" action="/MediaList/AddToDiscoveredList">
                        <input type="hidden" name="userId" value="@userId" />
                        <input type="hidden" name="mediaId" value="2" />
                        <input type="hidden" name="mediaType" value="book" />
                        <input type="hidden" name="Title" value="@book.Title" />
                        <input type="hidden" name="Author" value="@book.Author" />
                        <input type="hidden" name="CoverImageURL" value="@book.CoverImageURL" />
                        <button class="btn custom-btn" type="submit">Discovered</button>
                    </form>

                </div>
            </div>
        }
    </div>



    <h2 class="mt-4">Tracks</h2>

    <div class="row flex justify-content-center align-items-center">
        @foreach (var track in Model.tracks)
        {

            <div class="card mx-4 my-4 p-4" style="width: 20rem;">
                <img src="@track.AlbumArt" class="card-img-top" alt="Album art image">
                <div class="card-body">
                    <h5 class="card-title">@track.Title</h5>
                    <h5 class="card-title">by @track.Artist</h5>
                </div>
                <div class="card-footer d-flex justify-content-between">

                    <form method="POST" action="/MediaList/AddToLaterList">

                        <input type="hidden" name="userId" value="@userId" />
                        <input type="hidden" name="mediaId" value="2" />
                        <input type="hidden" name="mediaType" value="track" />

                        <input type="hidden" name="Title" value="@track.Title" />
                        <input type="hidden" name="Artist" value="@track.Artist" />
                        <input type="hidden" name="Album" value="@track.Album" />

                        <input type="hidden" name="AlbumArt" value="@track.AlbumArt" />
                        <input class="btn custom-btn" type="submit" value="Listen later" />
                    </form>

                    <form method="POST" action="/MediaList/AddToDiscoveredList">

                        <input type="hidden" name="userId" value="@userId" />
                        <input type="hidden" name="mediaId" value="2" />
                        <input type="hidden" name="mediaType" value="track" />

                        <input type="hidden" name="Title" value="@track.Title" />
                        <input type="hidden" name="Artist" value="@track.Artist" />
                        <input type="hidden" name="Album" value="@track.Album" />

                        <input type="hidden" name="AlbumArt" value="@track.AlbumArt" />
                        <input class="btn custom-btn" type="submit" value="Discovered" />
                    </form>

                </div>
            </div>
        }
    </div>

</div>
